* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fcfcfc;
}
.miseEnPage{
    display: flex;
    align-items:center;
}

.wave{
    margin-right: 20%;
}
.imageGrande{
    min-height: 100vh;
}
.imageLogo{
  display: flex;
  position: absolute;
  top: 0px; right: 0px;
}
.container {
  position: relative;
  width: 450px;
  min-height: 500px;
  height: auto;
  max-height: 520px;
  background-color: #fcfcfc;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
}
.logo {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 5px 5px #ccc;
  font-size: 1.8em;
  background-color: #2CC0C9;
  color: #f0f6fb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-body {
  position: relative;
  display: none;

  height: auto;
  max-height: 320px;
  padding: 15% 5%;
  margin-top: 20%;
  background-color: #fff;
  color: #2CC0C9;
  box-shadow: 0px 5px 10px #7c8395;
  border-radius: 30px;
  font-size: 1rem;
}
.tab-body.active {
  display: block;
}

.row {/*souligne les saisis*/
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2CC0C9;
  padding: 1.8% 0;
  margin: 20px 0;
}

.row .input {
  width: 90%;
  border: none;
  outline: none;
  color: #2CC0C9;
  font-weight: 550;
}
.input::placeholder {
  color: gray;
}

.link {
  display: inline-block;
  font-size: 0.8em;
  width: 100%;
  text-decoration: none;
  color: #2b384f;
  text-align: right;
}
.link:hover {
  text-decoration: underline;
}

.btn {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 140px;
  height: 65px;
  border-radius: 50px;
  background-color: #42D8C0;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.tab-footer {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 30px;
  display: flex;
}

.tab-link {
  text-decoration: none;
  color: #2CC0C9;
  margin: 0 3%;
}

.tab-link.active {
  font-weight: bold;
}

@media screen and (max-width: 1400px){
	
    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #fcfcfc;
      }
	.img{
		display: none;
	}

	.wave{
		display: none;
	}
}

/*##########  Pour le menu  #######################################################################################################*/
header nav ul{
  display: flex;
  flex-wrap: wrap;
  position : fixed;
  width: 100%;
  z-index: 3;
}

header nav ul, header nav ul li ul{
  background-color: #77BE34;
  list-style-type: none; /*Enlever les points devants les li*/
  margin: 0; 
  padding-left: 0;
}
header nav ul li, header nav ul li ul li{
  background-color:   #77BE34;
  position: relative; /*?*/ 
  transition-duration: 0.5s; /*En combien de temps elles apparaissent*/
  text-align: center;
  flex: 1 ;/* L'espace dans le conteneur parent ul est réparti également avec ses enfants li */
  border-bottom: 2px solid  #77BE34;

}
header nav ul li a, header nav ul li ul li a{
  color: white; /*Couleur des a en blanc*/
  display: block;
  text-decoration: none;
  padding: 1rem;
  
}
header nav ul li:hover, header nav ul li ul li:hover{
  background-color:  #77BE34;
  cursor: pointer; /*Changer le curseur*/
}
header nav ul li ul{
  background-color:  #77BE34;
}
nav ul li:hover{
  border-bottom: 2px solid white;
}
nav ul li a:hover{
  color: black; /* Permet de mettre la couleur du text lors du survol*/
}

/* bouton pour envoyer vers des liens facebook et site officiel*/
header nav ul li:hover, header nav ul li ul li:hover{
  background-color: #77BE34;
  cursor: pointer; /*Changer le curseur*/
}
/*##########  Fin Menu  ##########*/
