html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

/*##########  Menu  ##########*/
#logo {
    width: 40px;
}
#moncompte {
    width: 40px;
}
nav {
    background-color: white;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
}
.primary-button {
    font-size: 30px;
    font-weight: 300;
    color:rgb(10, 184, 184);
    background-color:  white;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
.primary-button:hover{
    opacity: 0.8;
}
.titleSite{
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titleSite a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.titleSite a:hover{
    opacity: 0.5;
    color: grey;
}
/*##########  Fin menu  ##########*/

/*##########  Autre maniere d'afficher la météo #############*/
#widget_autocomplete_preview{
    margin-top : 80px;
}
/*##########  Fin Météo option #############*/

/*##########  Météo  #############*/
#fonction-meteo{
    margin-top : 30px;
}
.weatherwidget-io
{
    margin-top: 52px;
}
.menu > li:hover .submenu {
  display: block;
}
.menu > li{
  position: relative;
}
.submenu{
    display: none;
    position: absolute; /*Pour que les gds menus s'affichent normalement*/
    left: 0;
    right: 0;
}
.debut_chap{
    font-size: 20px;
    margin: 0 1.5rem;
}
.equations, .syst_lin_def, .resol_equation{
    text-align: center;
}
.operation_syst{
    margin-left: 2rem;
}
/*##########  Fin météo  #############*/

/*##########  Debut fonction  #############*/
#fonctionAppli-section {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

#fonctionAppli-section > h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}

#fonctionAppli-desc {
    max-width: 700px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-top: 55px;
}

#fonctionAppli-wrapper {
    width: 100%;
    height: 800px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.fonctionAppli-item {
    width: 30%;
    height: 250px;
    text-align: center;
    background-color: #f5f6fb;
    padding: 40px 30px;
    margin: 25px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    transition: box-shadow 0.3s;
}

.fonctionAppli-item:hover {
    box-shadow: 0 12px 16px 0 rgba(39, 39, 47, 0.06);
    background-color: #f1f4ff;
}

.fonctionAppli-item img {
    width: 80px;
    margin-bottom: 25px;
    border-radius: 50%;
}

.fonctionAppli-description {
    font-size: 14px;
    color: #8b8b99;
    letter-spacing: 0.5px;
    font-style: italic;
    margin: 0;
}

.fonctionAppli-item h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 0px;
}
/*##########  Fin fonction  #############*/

@media (max-width: 800px ){
    #fonctionAppli-section {
        padding: 16px;
        box-sizing: border-box;
    }

    #fonctionAppli-section > h3 {
       font-size: 28px; 
    }

    #fonctionAppli-wrapper {
        flex-direction: column;
    }

    .fonctionAppli-item {
        width: 70%;
        box-sizing: border-box;
    }

    .fonctionAppli-name {
        font-size: important 18px;
    }
    iframe{
        width: 100%;
        height: 240px;
    }
}

@media (max-height: 350px ){
    #fonctionAppli-wrapper {
        height: 400px;
    }
}